{{ $src := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $center := eq (.Get "center") "true" }}
{{ $autoplay := eq (.Get "autoplay") "true" }}
{{ $loop := eq (.Get "loop") "true" }}
{{ $width := default "100%" (.Get "width") }}
{{ $controls := eq (.Get "controls") "true" }}


<figure class="video-block{{ if $center }} video-center{{ end }}" style="max-width: {{ $width }};">
<video class="video-player"
{{ if $controls }}controls{{ end }}
{{ if $autoplay }}autoplay muted playsinline{{ end }}
{{ if $loop }}loop{{ end }}
style="width: 100%;"
>
<source src="{{ $src }}" type="video/webm">
Your browser does not support the video tag.
</video>


{{ if $caption }}
<figcaption class="video-caption">{{ $caption }}</figcaption>
{{ end }}
</figure>
